useDynLib("dglars")
exportPattern("^[[:alpha:]]+")
#S3method("print","dglars")
#S3method("summary","dglars")
#S3method("coef","dglars")
#S3method("plot","dglars")
#S3method("print","cvdglars")
#S3method("coef","cvdglars")
#S3method("plot","cvdglars")
